<html>
<label for="mstatus">mstatus (hex)</label>
<input id="mstatus" value="0x00000883" oninput="update()" />
<script type="text/javascript">
    function getBit(number, bitPosition) {
        return (number & (1 << bitPosition)) === 0 ? 0 : 1;
    }

    function mppToString(mpp){
        if(mpp == "00")
            return "U";
        else if(mpp=="01")
            return "S";
        else if(mpp=="02")
            return "Reserved";
        else 
            return "M";
    }

    function update() {
        var mstatusText = document.getElementById("mstatus").value;
        var mstatus = parseInt(mstatusText, 16);

        //handle single bits
        for (var i = 0; i < 32; i++) {
            var bit = getBit(mstatus, i);
            var el = document.getElementById("bit-" + i);
            if (el === null)
                continue;
            el.textContent = bit;
        }
        //handle mpp bits
        var mpp12 = getBit(mstatus, 12);
        var mpp11 = getBit(mstatus, 11);
        var mpp = mpp12 + "" + mpp11;
        document.getElementById("bits-12:11").textContent = mpp +" ("+mppToString(mpp)+")";

    }
    window.onload = update;
</script>

<table border="1">
    <thead>
        <tr>
            <th>Bits</th>
            <th>Field</th>
            <th>Value</th>
        </tr>
    </thead>
    <tr>
        <td>0</td>
        <td>MISALIGNED_FETCH</td>
        <td id="bit-0"></td>
    </tr>
    <tr>
        <td>1</td>
        <td>FETCH_ACCESS</td>
        <td id="bit-1"></td>
    </tr>
    <tr>
        <td>2</td>
        <td>ILLEGAL_INSTRUCTION</td>
        <td id="bit-2"></td>
    </tr>
    <tr>
        <td>3</td>
        <td>BREAKPOINT</td>
        <td id="bit-3"></td>
    </tr>
    <tr>
        <td>4</td>
        <td>MISALIGNED_LOAD</td>
        <td id="bit-4"></td>
    </tr>
    <tr>
        <td>5</td>
        <td>LOAD_ACCESS</td>
        <td id="bit-5"></td>
    </tr>
    <tr>
        <td>6</td>
        <td>MISALIGNED_STORE</td>
        <td id="bit-6"></td>
    </tr>
    <tr>
        <td>7</td>
        <td>STORE_ACCESS</td>
        <td id="bit-7"></td>
    </tr>
    <tr>
        <td>8</td>
        <td>USER_ECALL</td>
        <td id="bit-8"></td>
    </tr>
    <tr>
        <td>9</td>
        <td>SUPERVISOR_ECALL</td>
        <td id="bit-9"></td>
    </tr>
    <tr>
        <td>0xa</td>
        <td>SUPERVISOR_ECALL</td>
        <td id="bit-10"></td>
    </tr>
    <tr>
        <td>0xb</td>
        <td>MACHINE_ECALL</td>
        <td id="bit-11"></td>
    </tr>
    <tr>
        <td>0xc</td>
        <td>FETCH_PAGE_FAULT</td>
        <td id="bit-12"></td>
    </tr>
    <tr>
        <td>0xd</td>
        <td>LOAD_PAGE_FAULT</td>
        <td id="bit-9"></td>
    </tr>
    <tr>
        <td>0xf</td>
        <td>STORE_PAGE_FAULT</td>
        <td id="bit-15"></td>
    </tr>
</table>
</html>